*{
    scroll-behavior: smooth;
}

body, html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.7;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    z-index: 2; 
    padding: 1%;
}

.logo{
    width: 4%; 
    
}

nav {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.contactusbuttonnavbar{
    background-color: #556B2F;
    color: #fff;
    padding: 10px 35px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    display: inline-block; 
    margin-top: -10px; 
    border-radius: 10px;
}

.contactusbuttonnavbar:hover{
    background-color: #fff;
}

/*dropdown*/

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    width: 100%;
    float: right;
    flex-wrap: wrap;
}
.nav-links ul{
    align-items: center;
    font-size: 15px;
}

.nav-links li {
    padding-right: 70px;

}

.animals:hover > .drop-down{
    display: initial;
}

.drop-down{

    color: #fff;

}

.nav-links a {
    text-decoration: none;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    transition: color 1s ease;
}

.nav-links a:hover {
    text-decoration: none;
    color: #2f6a15;
    transition: 0.5s;
    font-size: 18px;
}


.menu-btn {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

/* Dropdown Styles */
.dropdown {
    position: relative;

}

.drop-down {
    display: none;
    position: absolute;
    background-color: black;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 9px;
    padding: 20px;
    text-align: center;

}
.drop-down li {
    list-style: none;
    margin-bottom: 10px;
    padding: 1px;
    margin-left: 15px;
}

.drop-down a {
    text-decoration: none;
    color: #fff;
    display: block;
    width: fit-content;
}


.dropdown:hover .drop-down {
    display: block;
}

/* Media Query for Responsive Design */
@media screen and (max-width: 768px) {
    header {
        padding: 15px; 
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: relative;
        width: 60%;
        background-color:black;
    }
    .logo{
        display: none;
    }

    .nav-links.show {
        display: flex;
    }

    .drop-down{
        display: none;
    }



    .nav-links li {
        margin: 0;
        margin-bottom: 20px;
        text-align: center;
    }

    .menu-btn {
        display: block;
        color: #fff;
    }

    .centered {
        font-size: 30px;
    }
}
/* Main Image Styles */
.mainimage {
    position: relative;
}

.responsive1 {
    width: 100%;
    height: auto;
    margin: 0;
}

.overlay {
    position:relative;
}

.responsive2 {
    width: 100%;
    margin-top: 30px;
}

.mainimage {
    position: relative;
    text-align: center;
}

.responsive1 {
    width: 100%;
    height: auto;
    display: block;
}

.centered {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.responsive2 {
    max-width: 100%;
    max-height: 100%;
    margin-top: 0%;
    display: block;
}

/*main text */
.centered {
    position: absolute;
    top: 15%;
    width: 100%;
    text-align: center;
    color: #ffffff93;
    font-size: 130px;
    text-shadow: 0 0 15px #333;

  }

.bottom {
    position: absolute;
    top: 85%;
    width: 100%;
    text-align: center;
    color: #ffffff93;
    font-size: 130px;
    text-shadow: 0 0 15px #333;
}

.mainimage h3{
    font-size: 20px;
}

.mainimage {
    position: relative;
    bottom: 60%;
}

.minitext {
    bottom: 30%;
}

/*row of images in first page*/
.imagerow{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
}

.header {
    text-align: center;
    padding: 20px;
}

.row1 {
    flex-wrap: wrap;
    left: 0;
    width: 100%;
    height: 85%;
    display: flex;
    align-items: center;
    flex-direction:row ;

}
.row1-img {
    width: 22%;
    margin-top: 3vh;
    margin-right: 3vw;
    border-radius: 9px;
    margin-left: 4vw;
    transition: transform 0.3s, box-shadow 0.3s; 
}

.row1-img:hover {
    transform: scale(1.1); 
    box-shadow: 0 0 10px #070707; 
}
.center2 {
    display: block;
    margin-left: 95px;
    width: 60%;
    width: 15%;
}

/* second image in home*/
.second-image-container {
    overflow: hidden; 
    

}

.center1secondimageresponse {
    float: right;
    width: 30%;
    height: 10%;
    
}

.center1 {
    position: relative;
    margin-right: 10%;
}



.animalscorrection{
    font-size: 17px;
    color: #070707;
    margin-bottom: 8px; 
    max-width: 600px;
    padding: 2%;

}
/********************************* about us text*/
.abouttextheading{
    width: 100%;
    text-align: left;
    color: #070707;
    font-size: 25px;
    font-weight: bold;
}
.special{
    color: green;
    font-size: 30px;
}
.textflex1{
    display: flex;
    flex-direction: row;
    transition: transform 0.3s, box-shadow 0.3s; 


}
.textflex1:hover {
    transform: scale(0.99); 
    box-shadow: 0 0 10px #070707; 
}
.abouttextpara{
    font-size: 17px;
    color: #070707;
    margin-bottom: 8px; 
    max-width: 600px;
    padding: 2%;
}
.bulletpoints{
    font-size: 17px;
    color: #070707;
    margin-bottom: 8px; 
    max-width: 600px;
    padding: 2%;
}

.textflex1{
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 9px;
}

.firstdiscription{
    text-align: justify;
    margin-left: 5%;
    margin-right: 30%;
    height: 50%;
    border-radius: 8px;
    padding: 1%;
    margin-top: 2%;
}

.mammel,
.reptile,
.bird,
.fish {
    display: block;
    margin-left: 95px;
    width: 15%;
    transition: 0.3s;
    border-radius: 5px;
    margin-bottom: -110px;
}

.mammel:hover,
.reptile:hover,
.bird:hover,
.fish:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
}


/*secondddddd paraaaaa*/
.textflex2 {
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 9px;
    transition: transform 0.3s, box-shadow 0.3s; 


}
.textflex2:hover {
    transform: scale(0.99); 
    box-shadow: 0 0 10px #070707; 
}


.comitmentpara {
    font-size: 17px;
    color: #070707;
    margin-bottom: 8px; 
    padding: 2%;
}

.secondparahome {
    width: 100%;
    color: #070707;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}

.topic2home {
    color: green;
    font-size: 32px;
}

.seconddiscription {
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 8px;
    padding: 1%;
    margin-top: 2%;
    margin-top: 110px;
    margin-bottom: 40px;

}
/*CONTACT USSSSSSSSSS*/

.contactussection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    background-color: white;
    padding: 20px;
    margin: 3% 10% 5% 10%;
    transition: all 0.3s ease; 
    border-radius: 10px;
    position: absolute;
    top: 15%;
    text-align: center;

}

.contacttopic,
.contactusinfor,
.contactusform {
    padding: 20px;
    text-align: justify;
    background-color:snow;
    border-radius: 10px;
    transition: background-color 0.3s ease; 
    line-height: 1.6;
}

.contacttopic {
    position: relative;

}

.contacttopic::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #556B2F;
    width: 10px;
    border-top-left-radius: 10px; 
    border-bottom-left-radius: 10px;
}

.contacttopic h1 {
    margin-bottom: 20px;
    z-index: 1;
    color:#556B2f;
    text-align: center;
}

.contacttopic p {
    margin: 0;
    color: #070707;
    text-align: center;
}

.contactusform label {
    display: block;
    margin-bottom: 10px;
}

.contactusform input,
.contactusform textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.contactusform {
    text-align: center;
    box-shadow: 0 0 5px #333;
}

.contactusform button {
    background-color: #556B2F;
    color: #fff;
    padding: 10px 35px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    display: inline-block; 
    margin-top: 20px; 
    border-radius: 10px;
}

.contactusform button:hover {
    background-color:#7f9a4e ;
    box-shadow: 0 0 10px #556B2F;
}

/* Hover effect for the whole contactussection */
.contactussection:hover {
    box-shadow: 0 0 10px #556B2F;
}

@media (max-width: 1020px) {
    .contactussection {
        margin: 50px 10% 0 10%;
    }
}

@media (max-width: 850px) {
    .contactussection {
        grid-template-columns: 1fr;
    }
}
.contactusmainimage{
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
    filter: blur(8px);
}





/*----------------------------galleryyyyyyyyyyyy---------------------------*/
.topicanimalgallery{
    color: green;

}
.smallparaingallerypage{
    font-size: 16px;
}
.gallerypageheader {
    text-align: center;
    padding: 25px;
    margin-top: 80px;
  }

  
  .gallerypagerow {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 45px;
    margin-left: 1%;
  }
  
  /* Create four equal columns that sits next to each other */
  .gallerycolumn {
    -ms-flex: 25%; 
    flex: 25%;
    max-width: 25%;
    padding: 0 px;
    text-align: center;
}

.gallerycolumn img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    margin-bottom: 12px;
}

/* Responsive layout - makes a two-column layout instead of four columns */
@media screen and (max-width: 800px) {
    .gallerycolumn {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .gallerycolumn {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}


.gallerycolumn {
    position: relative;
    overflow: hidden;
    }
    
    .gallerycolumn img {
    width: 200px; 
    transition: transform 0.3s ease; 
    }
    
    .gallerycolumn img:hover {
    transform: scale(0.9); 
    }


/*************************************FOOTERRR*/
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .footer-section ul {
    list-style: none;
    padding: 0;
  }

  .footer-section ul li {
    display: inline;
    margin-right: 10px;
  }

  .footer-section a {
    color: #fff;
  
  }

  .footer-section {
    flex: 1;
    margin: 10px;
  }
  .footerlogo {
    flex: 1;
    margin: 10px;
    text-align: center;
    align-items: center;
    width: 25%;
  }

  .footerlogo img {
    display: block;
    margin: 0 auto;
    max-width: 50%;
    margin-left: 120%;
    height: auto;
  }
 
  @media (max-width: 600px) {
    footer {
      flex-direction: column;
    }

    .footer-section {
      flex: auto;
      margin: 10px 0;
    }
    
  } 



  /*********************DOW*/
  .dowback{
  width: 100%;
  height: auto;
  margin: 0;
  }
  .centereddowpage{
    position: absolute;
    top: 14%;
    width: 100%;
    text-align: center;
    color: #ffffffde;
    font-size: 120px;
    text-shadow: 0 0 15px #333;
  }
.flextextdow{
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 9px;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: left;
    display: flex;
    flex-direction: row;
}
.abouttextparadow{
    font-size: 18px;
    color: #070707;
    margin-bottom: 8px; 
    padding: 2%;
    text-align: justify;
}

.sec2-image-container{
    display: flex;
    flex-direction: row;
    margin: 10px;
    margin-left: 5%;
}

.sec2-images{
    padding: 20px;
}

.sec2-images img{
    width: 90%;
    
}
.sec2-image{
    width: 22%;
    margin-top: 3vh;
    margin-right: 3vw;
    border-radius: 9px;
    transition: transform 0.3s, box-shadow 0.3s; 
}

.sec2-image:hover {
    transform: scale(1.1); 
    box-shadow: 0 0 10px #070707; 
}
.flextextdow{
    transition: transform 0.3s, box-shadow 0.3s; 
}

.flextextdow:hover {
    transform: scale(0.99); 
    box-shadow: 0 0 10px #070707; 
}


.map-container{
    display: flex;
    flex-direction: row;
}

.map-text{
    padding: 30px;
    margin-top: 160px;
    text-align: center;
}
.secondparadow{
    width: 100%;
    color: #070707;
    font-size: 28px;
    font-weight: bold;
    text-align: left;
}



/************************intoduction*/

table{
    border-collapse: collapse;
}

td, tr, td, th{
    border: 1px solid black;
}

.wildlife-location{
    display: flex;
    flex-direction: row;
    margin-left: 2%;
    margin-right: 2%;
    transition: transform 0.3s, box-shadow 0.3s; 
}
.wildlife-location:hover {
    transform: scale(0.99); 
    box-shadow: 0 0 10px #070707; 

}



.wildlife-location img{
    width: 98%;
    padding: 20px;
    transition: transform 0.3s, box-shadow 0.3s; 
    border-radius: 9px;
}
.wildlife-location img:hover {
    transform: scale(0.99); 
    box-shadow: 0 0 10px #070707; 

}

.wildlife-location-map{
    padding: 20px;
    width: 100%;
    transition: transform 0.3s, box-shadow 0.3s; 
    border-radius: 9px;
}


.centeredintropage{
    position: absolute;
    top: 18%;
    width: 100%;
    text-align: center;
    color: #ffffffde;
    font-size: 185px;
    text-shadow: 0 0 15px #333;

}
.introductionback{
    width: 100%;
    height: auto;
    margin: 0;
}

.flextextintro{
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 9px;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: justify;
    transition: transform 0.3s, box-shadow 0.3s; 
}
.flextextintro:hover {
    transform: scale(0.99); 
    box-shadow: 0 0 10px #070707; 

}

.abouttextparaintro{
    font-size: 17px;
    color: #070707;
    margin-bottom: 8px; 
    padding: 2%;
}
.intropagepara{
    font-size: 17px;
    color: #070707;
    margin-bottom: 8px; 
    padding: 2%;

}
.wildlife-location{
    background-color: #7875753a;
    padding: 15px;
    border-radius: 9px;
    margin-right: 5%;   
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: left;
    padding-right: 44px;
}
.secondparalocation{
    width: 100%;
    color: #070707;
    font-size: 25px;
    font-weight: bold;
    text-align: center;

}
.secondparalocationTOPIC{
    width: 100%;
    color: #070707;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.introtable table{
    background-color: #7875753a;
    padding: 15px;
    border-radius: 9px;
    margin-right: 5%;   
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: left;
    padding-right: 44px;
    width: 90%;
}
.locationmappart{
    width: 100%;
    padding: 20px;
    border: none;
    
}
.introtextpara{
    padding: 20px;
    text-align: justify;
    background-color:#7875753a;
    border-radius: 10px;
    transition: background-color 0.3s ease; 
    line-height: 1.6;
    margin-left: 30px;
    margin-right: 1px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s; 
}
.introtextpara:hover {
    transform: scale(0.99); 
    box-shadow: 0 0 10px #070707; 

}
.learnmorebutton{
    background-color: #556B2F;
    color: #fff;
    padding: 10px 35px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 9px;
    transition: transform 0.3s, box-shadow 0.3s; 
}
.learnmorebutton:hover {
    transform: scale(1.1); 
    box-shadow: 0 0 10px #070707; 
}

/***********************************************leopard*/
.centeredleopage{
    position: absolute;
    top: 27%;
    width: 100%;
    text-align: center;
    color: #ffffffde;
    font-size: 120px;
    text-shadow: 0 0 15px #333;
}


/**************sl  animals************/

.srilankananimalshome{
    width: 100%;
    height: auto;
    margin: 0;
}
.centeredanimalpage{
    position: absolute;
    top: 10%;
    width: 100%;
    text-align: center;
    color: #ffffffde;
    font-size: 160px;
    text-shadow: 0 0 15px #333;
}
.park-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
   
  }

  .park-box {
    text-align: center;
    border: black;
    border-radius: 9px;
  }

  .park-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 30px;
  }

  .park-button {
    background-color: #556B2F;
    color: #fff;
    padding: 10px 35px;
    border: none;
    cursor: pointer;
    margin-top: 2%;
    font-size: 16px;
    border-radius: 9px;
    transition: transform 0.3s, box-shadow 0.3s; 
    margin-bottom: 30px;
}
  .park-button:hover {
    transform: scale(1.1); 
    box-shadow: 0 0 10px #070707; 
}
  .park-image {
    width: 500px; 
    height: 300px;
    object-fit: cover; 
    border-radius: 9px;
    margin-bottom: 30px;
  }



/*************leopard*************/
.leopardflex{
    display: flex;
    flex-direction: row;
}
.leoflex{
    display: flex;
    flex-direction: row;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 1%;
    transition: transform 0.3s, box-shadow 0.3s; 
    border-radius: 9px;
    padding: 2%;
}
.leoflex:hover {
    transform: scale(0.99); 
    box-shadow: 0 0 10px #070707; 

}
.leovenue{
    width: 100%;
    color: #070707;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    border:solid 2px green;
}
.leopardpara{
    display: flex;
    flex-direction: row;
    padding: 20px;
    text-align: justify;
    background-color:#7875753a;
    border-radius: 10px;
    transition: background-color 0.3s ease; 
    line-height: 1.6;
    margin-left: 30px;
    margin-right: 20px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s; 
    font-size: 20px;

}
.leopardpara:hover {
    transform: scale(0.99); 
    box-shadow: 0 0 10px #070707; 
}
.leopardparaimg{
    width: 100%;
    padding: 20px;
    transition: transform 0.3s, box-shadow 0.3s; 
    border-radius: 9px;

}
.leopardlastpara{
    padding: 20px;
    text-align: justify;
    background-color:#7875753a;
    border-radius: 10px;
    transition: background-color 0.3s ease; 
    line-height: 1.6;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 4%;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s; 
}
.leopardlastpara:hover {
    transform: scale(0.99); 
    box-shadow: 0 0 10px #070707; 

}


/* Add this media query at the end of your CSS */
@media only screen and (max-width: 768px) {
    /* Header */
    header {
        padding: 10px;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: relative;
        width: 100%;
        background-color: #000000;
    }

    .nav-links.show {
        display: flex;
    }

    .nav-links li {
        margin: 0;
        margin-bottom: 20px;
        text-align: center;
    }

    .menu-btn {
        display: block;
        color: #fff;
    }

    .centered {
        font-size: 35px;
        top: 40%;
    }
    .bottom{
        display: none;
    }
    .centeredintropage{
        font-size: 40px;
        top: 20%;
    }
    .centereddowpage{
        font-size: 40px;
        top: 20%;

    }
    .secondparadow{
        font-size: 15px;
    }
    .map{
        display: none;
    }
    .centeredanimalpage{
        font-size: 40px;
        top: 20%;
    }
    .leopardparaimg{
        display: none;
    }
    .leopagepic{
        display: none;
    }
    .centeredleopage{
        font-size: 40px;
        top: 20%;

    }
    .textflex1{
        font-size: 5%;
    }
    
    
    


    /* Main Image Styles */
    .mainimage h3 {
        font-size: 16px;

    }

    /* Row of Images in First Page */
    .row1-img {
        width: 100%;
        margin: 0 0 20px;
    }

    .center2 {
        margin: 0;
        width: 100%;
    }

    /* About Us Text */
    .textflex1,
    .textflex2 {
        margin-right: 0;
        margin-left: 0;
    }

    /* Contact Us Section */
    .contactussection {
        grid-template-columns: 1fr;
    }

    /* Gallery Page */
    .gallerycolumn {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }

    /* Leopard Page */
    .leoflex {
        flex-direction: column;
    }

    .leoflex:hover {
        transform: none;
        box-shadow: none;
    }

    .leopardpara {
        margin-left: 10px;
        margin-right: 10px;
    }

    .leopardlastpara {
        margin-left: 10px;
        margin-right: 10px;
    }
    .park-button{
        font-size: 7px;
    }
    .learnmorebutton{
        font-size: 7px;
    }
}